.NavBar {
  display: flex;
  position: relative;
  color: orange;
  height: 50vh;
  width: 75vw;
}

.Logo {
  display: flex;
  position: absolute;
  
}

.Hamburger {
  display: flex;
  position: absolute;
}
