.NavBar {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  display: flex;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 480px;
  height: 5vh;
  max-height: 5vh;
  display: flex;
  color: orange;
  justify-content: center;
  background-color: red;
}

.Logo {
  display: flex;
  position: absolute;
  width: 3vw;
  height: 2vw;
  left: 5%;
  top: 13%;
}

.Hamburger {
  display: flex;
  position: absolute;

}
