.NavBar {
  margin: 0;
  padding: 0;
  position: absolute;
  top:2.5%;
  left: 50%;
  display: flex;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 480px;
  height: 5vh;
  max-height: 5vh;
  justify-content: center;
  background-color: red;
}

.Logo {
  display: flex;
  position: absolute;
  width: 8.5%;
  height: 70%;
  left: 5%;
  top: 13%;
}

.Hamburger {
  display: flex;
  position: absolute;
  width: 5%;
  height: 20%;
  right: 5%;
  top: 13%;
}
